.logo-icon {
  width: 47px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.menu-item1 {
  position: relative;
  opacity: 0.5;
}
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.iconamoonsearch-bold {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu-item12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  
}
.header,
.menu-items,
.nav {
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-items {
  justify-content: flex-start;
  gap: 45px;
}
.header,
.nav {
  position: sticky;
  width: 1209px;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #0089d0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.gaming-peripherals-at,
.praent-v-icon {
  position: relative;
}
.praent-v-icon {
  width: 16px;
  height: 18px;
}
.menu-item1 a {
  position: relative;
  text-decoration: none;
  color: #fff; /* Set link color */
}


.menu-item1 a::before,
.menu-item1 a::after {
  content: '';
  position: absolute;
  width: 0; /* Initially set width to 0 */
  height: 2px; /* Set line height */
  bottom: 0;
  background-color: #fff; /* Set line color */
  transition: width 0.3s, opacity 0.3s; /* Add transition effects */
}
.menu-item1 a::before {
  left: 0;
  opacity: 0;
}

.menu-item1 a::after {
  right: 0;
  opacity: 0;
}

.menu-item1 a:hover::before,
.menu-item1 a:hover::after {
  width: 50%; /* Set line width on hover */
  opacity: 1; /* Show line on hover */
}


i {
  opacity: 0.5; 
  color: #fff; 
  transition: opacity 0.3s; 
}

i:hover {
  opacity: 1; 
}








.join {
  width: 100%;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 315px;
  box-sizing: border-box;
  gap: 10px;
  max-height: 44px;
  text-align: left;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.87);
  font-family: var(--font-poppins);
}
.heading-2 {
color: white;
text-align: center;
margin-left: -140px;
  line-height: 56px;
  font-size: 75px;
}
.fastest-sharpest-clearest {
	color: white;
	margin-left: -140px;
  position: relative;
  font-size: var(--wwwrazercom-arial-narrow-28-size);
  line-height: 33.6px;
}
.content1 {
	
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.learn-more {
	
  position: relative;
  line-height: 33.6px;
}
.con1,
.sub-con1 {
	
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sub-con1 {
		margin-left: -140px;
  flex-direction: row;
  gap: var(--gap-lg);
  font-size: var(--wwwrazercom-arial-narrow-28-size);
}
.con1 {
  position: absolute;
  top: 60px;
  left: calc(50% - 252px);
  flex-direction: column;
  gap: var(--gap-4xs);
}
.first-pic {
  width: 100%;
  position: relative;
  height: 700px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./static/first-pic@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 787.5px;
  object-fit: cover;
}
.sub-con2 {
  position: absolute;
  top: 543px;
  left: 598px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.second-pic {
  width: 100%;
  position: relative;
  height: 787.5px;
  flex-shrink: 0;
  font-size: var(--wwwrazercom-arial-narrow-28-size);
}
.con3 {
  position: absolute;
  top: calc(50% - 290px);
  left: calc(50% - 189.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.third-pic {
  width: 100%;
  position: relative;
  height: 700px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/third-pic@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-4-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 810px;
  object-fit: cover;
}
.con4 {
  position: absolute;
  top: 60px;
  left: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.fourth-pic,
.social-media-icon {
  width: 100%;
  position: relative;
  height: 810px;
  flex-shrink: 0;
}
.social-media-icon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.row1,
.social-media-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-media-links {
  justify-content: flex-start;
  gap: 32px;
}
.row1 {
  align-self: stretch;
  height: 42px;
  justify-content: space-between;
}
.footer-container-child {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.3;
}
.footer-container-child,
.link-1 {
  align-self: stretch;
  position: relative;
}
.column1,
.row2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.column1 {
  width: 270px;
  flex-direction: column;
}
.row2 {
  align-self: stretch;
  height: 138px;
  flex-direction: row;
  opacity: 0.5;
}
.footer-container {
  width: 1209px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer-container,
.footer-section,
.landing-page {
  display: flex;
  flex-direction: column;
}
.footer-section {
  width: 100%;
  background-color: #121212;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.landing-page {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--wwwrazercom-nero);
  font-family: var(--wwwrazercom-arial-narrow-28);
}


.gaming-peripherals-at a {
  position: relative;
  text-decoration: none;
  color: #fff; /* Set link color */
}


.gaming-peripherals-at a::before,
.gaming-peripherals-at a::after {
  content: '';
  position: absolute;
  width: 0; /* Initially set width to 0 */
  height: 2px; /* Set line height */
  bottom: 0;
  background-color: #fff; /* Set line color */
  transition: width 0.3s, opacity 0.3s; /* Add transition effects */
}
.gaming-peripherals-at a::before {
  left: 0;
  opacity: 0;
}

.gaming-peripherals-at a::after {
  right: 0;
  opacity: 0;
}

.gaming-peripherals-at a:hover::before,
.gaming-peripherals-at a:hover::after {
  width: 50%; /* Set line width on hover */
  opacity: 1; /* Show line on hover */
}

/*dfdf*/

.learn-more a {
  position: relative;
  text-decoration: none;
  color: #fff; /* Set link color */
}


.learn-more a::before,
.learn-more a::after {
  content: '';
  position: absolute;
  width: 0; /* Initially set width to 0 */
  height: 2px; /* Set line height */
  bottom: 0;
  background-color: #fff; /* Set line color */
  transition: width 0.3s, opacity 0.3s; /* Add transition effects */
}
.learn-more a::before {
  left: 0;
  opacity: 0;
}

.learn-more a::after {
  right: 0;
  opacity: 0;
}

.learn-more a:hover::before,
.learn-more a:hover::after {
  width: 50%; /* Set line width on hover */
  opacity: 1; /* Show line on hover */
}

/*for links */

.link-1 a {
  position: relative;
  text-decoration: none;
  color: #fff; /* Set link color */
}


.link-1 a::before,
.link-1 a::after {
  content: '';
  position: absolute;
  width: 0; /* Initially set width to 0 */
  height: 2px; /* Set line height */
  bottom: 0;
  background-color: #fff; /* Set line color */
  transition: width 0.3s, opacity 0.3s; /* Add transition effects */
}
.link-1 a::before {
  left: 0;
  opacity: 0;
}

.link-1 a::after {
  right: 0;
  opacity: 0;
}

.link-1 a:hover::before,
.link-1 a:hover::after {
  width: 50%; /* Set line width on hover */
  opacity: 1; /* Show line on hover */
}
.menu-item12 .dropdown {
  position: relative;
  display: inline-block;
}

.menu-item12 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-item12 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-item12 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu-item12:hover .dropdown-content {
  display: block;
}
